/*=========================Body Alingment & Edit=================================*/
body#body
{
	background-color: #F0EDE5;
}
/*========================/Body Alingment & Edit=================================*/

/*=======================Main Div Alingment & Edit===============================*/
div#main_div
{
	width: 100%;
}
/*======================/Main Div Alingment & Edit===============================*/

/*======================Up Line Div Alingment & Edit=============================*/
div#div_upline
{
	background-color: #6B5B95;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}
/*=====================/Up Line Div Alingment & Edit=============================*/

/*=======================Up Bar Div Alingment & Edit=============================*/
div#up_bar
{
	width: 1200px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
}
/*======================/Up Bar Div Alingment & Edit=============================*/

/*=====================Up Bar Text Div Alingment & Edit==========================*/
p#fos
{
	color: white;
	font-size: 70px;
	transition-duration: 2s;
	display: inline-block;
	text-decoration: none;
	padding-left: 480px;
	padding-top: 4px;
	font-family: "Impact";
}
	/*--------------------------For mouse Hover-----------------------------------*/
	p#fos:hover
	{
		color: black;
		font-size: 68px;
		padding-left: 485px;
	}
/*====================/Up Bar Text Div Alingment & Edit==========================*/

/*=========================Nav Bar Alingment & Edit==============================*/
div#div_nav
{
	
	/*position: fixed;*/
	/*top: 0px;*/
}
ul#nav
{
	list-style-type: none;
	background-color: #343148;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}
li.li_nav
{
	float: left;
	margin-left: 5px;
}
li.li_nav a
{
	display: block;
	color: white;
	text-decoration: none;
	text-align: center;
}
li.li_nav:hover
{
	background-color: #005960;
}
p.p_nav, p.p_drop
{
	font-family: "trebuchet MS";
	font-variant-caps: small-caps;
	margin: 20px;
	margin-bottom: 2px;
	margin-top: 5px;
	font-size: 16px;
}
p.p_nav
{
	transition: 0.5s;
}
p.p_drop
{
	transition: 0.75s;
}
p.p_nav:hover
{
	font-size: 16.4px;
	margin: 18.5px;
	margin-bottom: 2px;
	margin-top: 5px;
}
p.p_drop:hover
{
	font-size: 18px;
	margin: 15px;
	margin-bottom: 0px;
	margin-top: 0px;
	color: black;
}
	/*----------------------------Nav Dropdown Edit------------------------------*/
		div.div_dropdown
		{
			display: none;
			position: absolute;
			background-color: #006E6D;
			box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
			z-index: left;
		}
		div.div_dropdown a
		{
			text-decoration: none;
			display: block;
			text-align: left;
		}
		div.div_dropdown a:hover
		{
			background-color: #F1EA7F;
		}

		li.li_nav:hover div.div_dropdown
		{
			display: block;
		 	text-decoration: none;
		}
	/*---------------------------/Nav Dropdown Edit------------------------------*/
/*========================/Nav Bar Alingment & Edit==============================*/

/*============================Img Slider Editing=================================*/
div.sider_img_bar_div
{
	width: 100%;
	height: 600px;
}
/*===========================/Img Slider Editing=================================*/

/*==================Table for Produc. List Alingment & Edit======================*/
table#big_table
{
	width: #;
	margin-left: auto;
	margin-right: auto;
	border: 2px;
}
/*-------------------------Table In Div Alingment & Edit-------------------------*/
div.item_div_edit
{
	width: 180px;
	height: 400px;
	background-color: #898E8C;
	margin:10px;
	transition: 0.25s;
}
div.item_div_edit:hover
{
	outline-color: #00A591;
	outline-style: solid;
	border: 1px;
	background-color: #00539C;
	box-shadow: 0 5px 20px 0 #6B5B95, 0 5px 50px 0 #6B5B95;
}
/*------------------------/Table In Div Alingment & Edit-------------------------*/
/*------------------------Table In links Alingment & Edit------------------------*/
a.item_a_edit:link
{
	text-decoration: none;
}
/*-----------------------/Table In links Alingment & Edit------------------------*/
/*------------------------Table In Text Alingment & Edit-------------------------*/
p.item_p_edit
{
	padding:250px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	color: black;
	font-size: 18px;
	font-family: "trebuchet MS";
	transition: 0.5s;
}
p.item_p_edit:hover
{
	color: white;
	font-size: 22px;
}
/*-----------------------/Table In Text Alingment & Edit-------------------------*/
/*=================/Table for Produc. List Alingment & Edit======================*/

/*=====================Shoping Gril Line Alingment & Edit========================*/
div#div_shoping_main
{
	height: 600px;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
	display: block;
}
	/*-------------------------Shoping Girl Img Div Edit-------------------------*/
	div#div_shoping_girl_img
	{
		width: 1200px;
		height:600px;
		margin-left: auto;
		margin-right: auto;
		background-repeat: no-repeat;
		display: block;
	}
	a.about_a_edit
	{
		text-decoration: none;
	}
	/*------------------------/Shoping Girl Img Div Edit-------------------------*/
	/*----------------------All In... Word Alingment & Edit----------------------*/
		p#p_all_in
		{
			font-size: 150px;
			font-family: "Comic Sans MS";
			font-variant-caps: small-caps;
			color: #00A591;
			line-height: 160px;
			text-decoration: none;
		}
	/*---------------------/All In... Word Alingment & Edit----------------------*/
	/*--------------------DSK Store... Word Alingment & Edit---------------------*/
		p#p_dsk_store
		{
			font-size: 60px;
			font-family: "Impact";
			letter-spacing: 3px;
			font-variant-caps: small-caps;
			color: #6B5B95;
			margin-bottom: 0px;
			text-decoration: none;
		}
	/*-------------------/DSK Store... Word Alingment & Edit---------------------*/
	/*--------------------Shop Now... Word Alingment & Edit----------------------*/
		p#p_shop_now
		{
			font-size: 130px;
			font-family: "Trebuchet MS";
			letter-spacing: 3px;
			font-variant-caps: small-caps;
			color: #CE3175;
			text-decoration: none;
		}
	/*-------------------/Shop Now... Word Alingment & Edit----------------------*/
/*=====================Shoping Gril Line Alingment & Edit========================*/
